blockquote {
    float: right;
    width: 250px;
    font-size: 130%;
    margin: 0px 50px 50px 50px;
    border: 5px solid rgb(56, 34, 70);
    padding: 10px;
}


header {
    width: 99%;
    height: 100px;
    float: left;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid red;
    background-color: yellowgreen;
}

footer {
    width: 99%;
    height: 100px;
    float: left;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid red;
    background-color: yellowgreen;
}
div {
    width: 49.8%;
    height: 100px;
    float: left;
    margin: 0 auto;
    border: 1px solid red;
    background: yellow;
}