@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

*, ::after, ::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 10px */
}

*, header, footer, .div1, .div2, .div3, .div4 {
    font-size: 2rem;
    font-family: "Orbitron", serif;
    font-weight: 500;
    text-align: center;
}

header, footer {
    float: left;
    height: 300px;
    width: 100%;
    border: 2px solid black;
    background: #a33b20;
}

.div1 {
    width: 20%;
    height: 500px;
    float: left;
    border: 2px solid black;
    background: #ff0000;
}
.div2 {
    width: 40%;
    height: 500px;
    float: left;
    border: 2px solid black;
    background: #00ff00;
}
.div3 {
    width: 20%;
    height: 500px;
    float: left;
    border: 2px solid black;
    background: #0000ff;
}
.div4 {
    width: 20%;
    height: 500px;
    float: left;
    border: 2px solid black;
    background: #ffff00;
}

@media (min-width:581px) and (max-width:868px) {
    .div1 {
        width: 50%;
    }
    .div2 {
        width: 50%;
    }
    .div3 {
        width: 50%;
    }
    .div4 {
        width: 50%;
    }
}
@media (max-width:580px) {
    .div1 {
        width: 100%;
    }
    .div2 {
        width: 100%;
    }
    .div3 {
        width: 100%;
    }
    .div4 {
        width: 100%;
    }
}