@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

*, ::after, ::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 10px */
}

*, header, footer, .div1, .div2, .div3, .div4 {
    font-size: 2rem;
    font-family: "Orbitron", serif;
    font-weight: 400;
    text-align: center;
}

header, footer {
    float: left;
    height: 300px;
    width: 100%;
    border: 2px solid black;
    background: #a33b20;
}

.div1 {
    width: 40%;
    height: 500px;
    float: left;
    margin: 0 auto;
    border: 2px solid black;
    background: #44a1a0;
}
.div2 {
    width: 60%;
    height: 500px;
    float: left;
    margin: 0 auto;
    border: 2px solid black;
    background: #44a144;
}
.div3 {
    width: 60%;
    height: 500px;
    float: left;
    margin: 0 auto;
    border: 2px solid black;
    background: #91bd17;
}
.div4 {
    width: 40%;
    height: 500px;
    float: left;
    margin: 0 auto;
    border: 2px solid black;
    background: #be2b68;
}